data/
*.out
*.err
main.tex
appendix.tex
appendix_synthetic_theory.tex
checklist.tex
neurips_2026.sty
FORMAT_LOG.md
UPGRADE_SUMMARY.md
final_neurips_upgrade_report.md
gradient_gate_collapse_paper.zip
neurips_submission.zip
poster.tex
poster.pdf
poster/
poster_debug/
poster_materials/
